.nav-icon-active {
    svg path {
        fill: #ff4458;
    }

    svg {
        fill: #ff4458;
    }
}

.nav-icon-inactive {
    svg path {
        fill: #7c8591;
    }

    svg {
        fill: #7c8591;
    }
}
